:root {
    --theme1:#6873dc;
    --black: #000;
}
.about-us2 {
    background: linear-gradient(to right,  #00000061,  #00000061), url(../images/aboutus-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.about-us-main .about-us-mainright::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -160px;
    transform: rotate(180deg);
    top: 0;
    background: url(../images/shape-6.png) no-repeat;

}
.about-us-main .about-us-image {
    max-width: 530px;
}
.about-us-main .nav-pills {
    white-space: nowrap;
}
.about-us-main .about-us-image::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00000033;
    transition: all 0.5s ease-in-out;
}
.about-us-main .about-us-image:hover::after {
    width: 100%;
}
.about-us-main .about-us-image img {
    object-fit: cover;
}
.about-us-main .tab-pane {
    animation-name: slide;
    animation-duration: 0.9s;
    animation-direction: top;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: none;
     }
    }
.about-us-main .about-us-image::before {
    content: '';
    width: 63%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(40%) translateY(-20%);
    transform: translateX(-20%) translateY(0);
    background-image: url(../images/dot-pattern.png);
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.2;
    z-index: -1;
}
.about-us-main .about-tabs button {
    color: black;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.about-us-main .nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.about-us-main .about-tabs button:hover {
    color: var(--theme1);
    background: #edebf8 !important;
}
.about-us-main .about-us-mainright .award {
    max-height: 120px;
    max-width: 80px;
}
.about-us-main .about-us-mainright .award img {
    object-fit: cover;
}
.client-counter {
    background: var(--theme1);
    color: white;
}
.client-counter .counter1 {
    font-size: 25px;
}
.client-counter .counter-name {
    font-size: 20px;
    white-space: nowrap;
}
.about-us-main .card1 {
    left: -2%;
    top: -4%;
}
.about-us-main .counter1 {
    color:var(--black);
}
.about-us-main .counter-name {
    color: var(--theme1);
    white-space: nowrap;
}
.about-us-main .about-us-image:hover .counter1 {
    color: var(--theme1) !important;
}
.our-project .clients-logo {
    height: auto;
    max-width: 130px;
}
.our-project .clients-logo img  {
    object-fit: cover;
}
.aboutfooter {
    background-color: #6873dc;
}
.aboutfooter .logo {
    height: 130px;
    width: 130px;
}
.aboutfooter .logo img {
    max-height: 50px;
}
.aboutfooter .heading-3 {
    color: white !important;
}
.aboutfooter hr {
    border-color: #fff;
    height: 2px;
    opacity: 75%;
}
.aboutfooter .main-link li a {
    color: white !important;
}
.aboutfooter .address {
    color: white;
}
.aboutfooter .address-detail a,
.aboutfooter .address-detail {
    color: rgb(197, 197, 197) !important;
}
.aboutfooter .footerright {
    background: red ;
}